html {
    font-size: max(0.83vw, 10px);
    min-height: 100%;
}
body,h1,h2,h3,h4,h5,h6, button {font-family: Roboto, sans-serif;}
body {
    overflow-x: hidden;
    overscroll-behavior-y: none;
    background: linear-gradient(270deg, #00FA9A, #1e90ff, #ee82ee, #FF4500);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
#navbar {
    box-shadow: 0px 0px 10px #474343;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    margin-bottom: 15px;
    padding: 15px;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: white;
}
a:active {
    text-decoration: underline;
    color: white;
}
#keyboardContainer {
    min-width: 549px;
}
.glass {
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px #474343;
    border-radius: 15px;
    margin-bottom: 15px;
}
#keyboard {
    border-color: gray;
    margin-bottom: 15px;
    padding: 10px;
}
.form-check-input {
    float: none !important;
}
#history {
    min-height: 35px;
    max-height: 100px;
    border: none;
    background: white;
    padding: 5px;
    box-shadow: 0px 0px 5px #474343;
    overflow-wrap: break-word;
}
#keyboardMacs {
    display: none;
}
.list-inline {
    margin-top: 5px;
    height: 50px;
}
.in-between {
    width: 1.32%;
    height: 10px;
    visibility: hidden;
}
button {
    color: black;
    height: 50px;
    border: none;
    background: white;
    box-shadow: 0px 0px 5px #474343;
    transition-duration: 0.1s;
}
button.one {
    width: 6%;
    border-radius: 15%;
}
button.two {
    width: 31.59%;
    border-radius: 15%;
}
button.three {
    width: 23.3%;
    border-radius: 15%;
}
.empty-fn {
    width: 4.48%;
    visibility: hidden;
}
.empty-space {
    width: 31.59%;
    visibility: hidden;
}
.macfn {
    width: 6.61%;
    border-radius: 10px;
}
.grayed {
    background: LightGray;
}
.back {
    width: 14.6%;
    border-radius: 10px;
}
.tab, .slace {
    width: 10.3%;
    border-radius: 10px;
}
.caps {
    width: 12%;
    border-radius: 10px;
}
.ent-btn {
    width: 15.1%;
    border-radius: 10px;
}
.shift {
    width: 16.87%;
    border-radius: 10px;
}
.space {
    width: 38%;
    border-radius: 10px;
}
.other {
    width: 8.28%;
    border-radius: 10px;
}
.macother {
    width: 10.5%;
    border-radius: 10px;
}
.v-btn {
    width: 23.3%;
    height: 105px;
    border-radius: 10px;
    float: right;
    position: relative;
    z-index: 10;
}
.zero {
    width: 48.5%;
    border-radius: 10px;
}
#keyboardNotice {
    margin: 15px;
    border-color: gray;
    padding: 10px 10px 1px 10px;
}
#contentBox {
    padding: 10px 15px 5px;
}
#footer {
    box-shadow: 0px 0px 10px #474343;
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, .4);
    backdrop-filter: blur(10px);
    margin-top: 15px;
    padding: 10px;
}

/*MARK: Hangman game*/

#board {
    border-color: gray;
    margin-bottom: 15px;
    padding: 10px;
}
#word {
    font-size: 30px;
}
button.hangman {
    width: 9.23%;
    border-radius: 15%;
}

/*MARK: Both*/

#intro, #context {
    font-size: max(0.9vw, 15px);
}
